body {
    background: linear-gradient(to left, #c1ccef, #7890e7);
}

.logo {
    position: absolute;
    margin: 30px 0 0 50px;

}

#texto-encriptar {
    position: absolute;
    top: 150px;
    left: 150px;
    width: 750px;
}

.campo-texto {
    background: none;
    border: none;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #0A3871;
}

.campo-texto::placeholder {
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #0A3871;
}

.botones-advertencia {
    position: absolute;
    bottom: 100px;
    left: 150px;
}

div p {
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    color: #000;
}

.button-encriptar,
.button-desencriptar {
    border-radius: 50px;
    padding: 20px 130px;
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    border-color: #466a96;
}

.button-desencriptar {
    margin-left: 50px;
    background-color: #D8DFE8;
    color: #20528e;
}

.button-encriptar {
    background-color: #0A3871;
    color: #fff;
}

.rectangulo {
    background: none;
    position: relative;
    width: 400px;
    height: 800px;
    top: 40px;
    left: 970px;
    border: 5px solid #9aabe7;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.imagen {
    position: relative;
    width: 85%;
    margin-left: 30px;
    top: 170px;
}

.rectangulo h2,
.rectangulo p {
    position: relative;
    text-align: center;
    top: 200px;
}

#texto-encriptado{
    width: 90%;
    height: 600px;
    margin: 25px 0 0 17px;
}

.Copiar {
    position: relative;
    margin-top: 60px;
    border-radius: 50px;
    padding: 20px 130px;
    left: 50px;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    border-color: #466a96;
    background-color: #D8DFE8;
}

.rectangulo h2 {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
}

.rectangulo p {
    font-size: 18px;
}

footer {
    text-align: center;
    width: 100%;
}

.copyright {
    padding: 10px;
    margin-top: 75px;
}

@media screen and (max-width: 1280px) {
    .rectangulo {
        left: 850px;
        width: 350px;
        margin-left: 50px;
    }

    #texto-encriptar {
        top: 150px;
        left: 100px;
        width: 600px;
    }

    .botones-advertencia {
        bottom: 150px;
        left: 100px;
    }

    .Copiar {
        padding: 20px 130px;
        left: 20px;
        font-family: 'Inter', sans-serif;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        border-color: #466a96;
        background-color: #D8DFE8;
    }
}

@media screen and (max-width: 768px) {
    .rectangulo img {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    textarea {
        left: 50px;
        width: 350px;
        margin: auto;
    }

    .rectangulo {
        width: 90%;
        height: 180px;
        left: 20px;
        top: 600px;
    }

}